.searchPage_header {
  display: flex;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #fff;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}
.searchPage_header img {
  height: 50px;
  margin-right: 50px;
}
.searchPage_options {
  display: flex;
  align-items: center;
  color: gray;
  margin-top: 30px;
}
.searchPage_options a {
  text-decoration: none;
  color: gray;
  margin-left: 5px;
}
.searchPage_optionsLeft,
.searchPage_optionsRight {
  display: flex;
  align-items: center;
}
.searchPage_option {
  display: flex;
  align-items: center;
  margin-right: 20px;
}
.searchPage_optionsRight {
  margin-left: 80px;
}
.searchPage .search_input {
  margin-top: 0;
  margin: 0px 0px;
}

.searchPage_resultsCount {
  color: #70757a;
  font-size: 14px;
}
.searchPage_result {
  margin: 40px 0px;
}
.searchPage_resultImage {
  object-fit: contain;
  margin-right: 10px;
}
.searchPage_resultLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-bottom: 3px;
}
.searchPage_resultTitle {
  text-decoration: none;
}
.searchPage_resultTitle:hover {
  text-decoration: underline;
}
.searchPage_resultTitle > h2 {
  font-weight: 500;
}
.searchPage_resultDescription {
  margin-top: 10px;
}
.searchPage_results {
  max-width: 650px;
  margin-top: 20px;
  margin-left: 240px;
  margin-bottom: 100px;
}

@media only screen and (max-width: 600px) {
  .searchPage_results {
    margin-left: 10px;
  }
  .searchPage_optionsRight {
    display: none;
  }
  .searchPage_header {
    flex-direction: column;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchPage_headerBody {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .searchPage_options {
    display: none;
  }
}
